.MultiplayerLoadout {
  margin-top: 20px;
}

.MultiplayerLoadout .extra-cards-container {
  padding-left: 0;
}

.MultiplayerLoadout .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
